<a href="https://trustinchat.xyz">
        <img border="0" alt="TrustInChat" src="trustinchat.png" width="100" height="50">
    </a>
    <a href="https://trustinchat.xyz/about">About</a>
    <a href="https://trustinchat.xyz/help">Help</a>   
    <br><br> <br><br>

	To:
	<input type="text" name="to" value="{{toEmail}}"/>
	<br><br>
	From:
	<input type="text" name="from" value="{{fromEmail}}"/>
	<br><br>
	Share URL:
	<input type="text" name="shareUrl" />