<div class="panel-body">
	<div class="author" *ngIf="belongsToUser()">
		Me:
	</div>
	<div class="author" *ngIf="!belongsToUser() && !remoteUser()" style="float: right;">
		{{message.chatToEmail}}
	</div>
	<div class="author" *ngIf="!belongsToUser() && remoteUser()" style="float: right;">
		{{message.chatFromEmail}}
	</div>
</div>
<article class="panel panel-default">
	<div class="panel-body">
		<div class="msg" *ngIf="belongsToUser()">
			{{message.content}}
		</div>
		<div class="config" *ngIf="belongsToUser()">
			<a (click)="onEdit()">Edit</a>
			<a (click)="onDelete()">Delete</a>
		</div>
		<div class="msgRight" *ngIf="!belongsToUser()">
			{{message.content}}
		</div>
	</div>
</article>
