body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
	color: #00B7FF;
	text-decoration: underline;
}

a.danger {
	color: red;
}

.spacing {
	margin-bottom: 20px;
}

.space {
	margin-bottom: 30px;
}

.chatclose {
	margin: 30px;
	text-align: center;
}

.chatbox {
	border: solid 2px #d3d3d3;
	padding: 10px;
}

input.ng-invalid.ng-touched {
	border: 1px solid red;
}
